name: Matrix Demo
on: push
jobs:
  build:
    strategy:
      matrix: 
        node-version: [12,14,16]
        operating-system: [ubuntu-latest, windows-latest]
    runs-on: ${{ operating-system }}
    steps:
      - name: get code
        uses: actions/checkout@v3
      - name: install nodejs
        uses: actions/setup-node@v3
        with: 
          node-version: ${{ node-version }}
      - name: install dependencies
        run: npm ci
      - name: build project
        run: npm run build